# Salin file ini menjadi .env.local. Saat pengembangan lokal boleh dikosongkan.
NEXT_PUBLIC_URL_EDUKASI=http://localhost:3001
NEXT_PUBLIC_URL_TOKO=http://localhost:3002
NEXT_PUBLIC_URL_PORTAL=http://localhost:3003
